<!DOCTYPE html>
<html>
<head>
    <title>Final Project | Intro to AI</title>
</head>

<!-- basic styles -->
<style>
  body{
    font-family: "Georgia", serif;
    text-align: center;
    background-color: #0B1426;
    color: white;
  }
  h2{
    font-style: italic;
    font-weight:lighter;
  }
  button{
    font-family: "Georgia", serif;
    text-align: center;
    background-color: #AFD971;
    color: #0B1426;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
    margin: 2rem 0rem;
  }
  #img_container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  img{
    width: 32%;
  }
</style>

<!-- imported scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- my javascript -->
<script type=text/javascript>

// run the GAN model
$(function() {
    $("#runModel").click(function(event) {
        $.getJSON('/img_generator', {},
            function(data) {});
        return false;
    });
    reloadImgs();
});

// reload page part every 5000ms to show results as they come in
let interval;
window.onload = function(){
  interval = setInterval(function() {
     $( "#img_container" ).load(window.location.href + " #img_container" );
     // reloadImgs();
   }, 5000);
}
clearInterval(interval);

// **************************************************************************
// ALL COMMENTED OUT CODE IS WHAT I WAS TRYING TO DO BUT HAVENT SUCCEDDED YET
// **************************************************************************
// reload page to display incoming generated images
// setTimeout(function(){
//    // window.location.reload(1);
//    $( "#img_container" ).load(window.location.href + " #img_container" );
// }, 5000);

// var xmlhttp = new XMLHttpRequest();

// xmlhttp.onreadystatechange = function() {
//   if (xmlhttp.readyState == XMLHttpRequest.DONE) {
//     if (xmlhttp.status == 200) {
//       var n = (xmlhttp.responseText.match(/png/g) || []).length;
//
//       for (var i = 1; i <= n; i++) {
//         var img1 = document.createElement('png');
//         filename = "output_epoch_" + i;
//         // {{url_for('static', filename=filename)}}
//         // img1.src = '/static/' + i + '.png';
//         img1.src = {{url_for('static', filename=filename)}};
//         console.log(img.src);
//         document.body.appendChild(img1);
//       }
//     }
//   }
// };
//
// xmlhttp.open("GET", "static/", true);
// xmlhttp.send();

// function reloadImgs() {
//   const numImgResults = {{numEpochs}} / {{saveInternval}};
//   console.log(numImgResults);
//   for (let i = 0; i < numImgResults; i += {{saveInternval}}){
//     console.log("made it");
//     const numEpoch = i * {{saveInternval}}
//
//     var elem = document.createElement("img");
//     elem.src = "/static/imgEpoch" + numEpoch + ".png";
//     elem.setAttribute("class", "imgResult");
//     elem.setAttribute("onerror", "this.style.display='none'");
//
//     document.getElementById("img_container").appendChild(elem);
//   }
// }

// pull images from the directory and append them to the img_container
// do , find imgEpochi until imgEpochi+saveInternval !exist

// reload page every 5000ms
// let interval;
// window.onload = function(){
//   interval = setInterval(function() {
//      $( "#img_container" ).load(window.location.href + " #img_container" );
//      // reloadImgs();
//    }, 5000);
// }
// clearInterval(interval);
</script>

<body>
    <h1>MNIST Data Generator</h1>
    <h2>CSCI 80a - Final Project</h2>
    <button id="runModel" type="button" onclick="window.location.href='{{ url_for( 'img_generator') }}';">Run GAN Model</button>
    <h3>Results</h3>
    <div id="img_container">
      <img src="{{url_for('static', filename='imgEpoch0.png')}}" onerror="this.style.display = 'none'" alt="imgEpoch0">
      <img src="{{url_for('static', filename='imgEpoch100.png')}}" onerror="this.style.display = 'none'" alt="imgEpoch100">
      <img src="{{url_for('static', filename='imgEpoch200.png')}}" onerror="this.style.display = 'none'" alt="imgEpoch200">
      <img src="{{url_for('static', filename='imgEpoch300.png')}}" onerror="this.style.display = 'none'" alt="imgEpoch300">
      <img src="{{url_for('static', filename='imgEpoch400.png')}}" onerror="this.style.display = 'none'" alt="imgEpoch400">
      <img src="{{url_for('static', filename='imgEpoch500.png')}}" onerror="this.style.display = 'none'" alt="imgEpoch500">
      <img src="{{url_for('static', filename='imgEpoch600.png')}}" onerror="this.style.display = 'none'" alt="imgEpoch600">
      <img src="{{url_for('static', filename='imgEpoch700.png')}}" onerror="this.style.display = 'none'" alt="imgEpoch700">
      <img src="{{url_for('static', filename='imgEpoch800.png')}}" onerror="this.style.display = 'none'" alt="imgEpoch800">
      <img src="{{url_for('static', filename='imgEpoch900.png')}}" onerror="this.style.display = 'none'" alt="imgEpoch900">
    </div>
    <div><p>Alyssa Blanco</p></div>
</body>
</html>
